<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962290238047-l5bbpbpvejgkri2u3tajngm75iq2kp7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962290238047-l5bbpbpvejgkri2u3tajngm75iq2kp7i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>962290238047-5c3aretft0quspr0sfnocsc5fq5nppdf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9f1nTR8QpCVKkemr7DEDE7qzAXRadjPs</string>
	<key>GCM_SENDER_ID</key>
	<string>962290238047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InDrive.app</string>
	<key>PROJECT_ID</key>
	<string>elitechauffeurs-7840a</string>
	<key>STORAGE_BUCKET</key>
	<string>elitechauffeurs-7840a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962290238047:ios:8f842d9b824ac62234d1ea</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>tel</string>
		<string>sms</string>
		<string>whatsapp</string>
	</array>
</dict>
</plist>